form {
    margin: 8px;
}

input {
    width: 450px;
}

.published-checkbox {
    display: flex;
    flex-direction: row;
}

.published-checkbox input {
    width: auto
    ;
}

.div {
    width: 100px;
    height: 20px;
}

:host ::ng-deep .p-inline-message {
    padding: 0;
}

:host ::ng-deep .p-inline-message.p-inline-message-error {
    background-color: transparent;
    color: #FF0000;
}

:host ::ng-deep .p-inline-message .p-inline-message-text {
    font-size: small;
}